# TODO(dougwig) - Replace me with real deal when you package
-e git+https://github.com/a10networks/a10-openstack-lib.git#egg=a10_openstack_lib

acos-client>=1.3.6
debtcollector

# Many of our requirements have to be the same as the underlying neutron,
# so while we will list the ones used explicity here, we will not necessarily
# specifiy versions
python-glanceclient>=0.9.0  # icehouse min
python-keystoneclient>=0.7.0  # icehouse min
python-novaclient  # implicit from neutron
python-neutronclient  # implicit from neutron
SQLAlchemy  # implicit from neutron
