fixtures>=1.3.1
hacking>=0.10,<0.11
mock>=1.0.1,<1.1.0
mox
mox3
-e git+https://github.com/openstack/neutron-lbaas#egg=neutron-lbaas
#neutron
#neutron-lbaas
nose
nose-exclude
oslotest
# requirement from neutron p
pbr!=2.1.0,>=2.0.0
pifpaf
pymysql
testresources
testscenarios
# TODO(dougwig) -- can we remove this?
-e git+https://github.com/openstack/neutron#egg=neutron
